In [1]:
import pandas as pd

In [12]:
from sklearn import datasets

In [13]:
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_arff_parser',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_file',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll',
 'textwrap']

In [14]:
data = {
    "Name": [
        "Aman", "Riya", "Karan", "Sneha", "Arjun",
        "Priya", "Rahul", "Anjali", "Vikram", "Pooja",
        "Siddharth", "Neha", "Rohan", "Ishita", "Aditya",
        "Kavya", "Harsh", "Meera", "Nikhil", "Divya",
        "Akash", "Tanvi", "Varun", "Shreya", "Kunal",
        "Aditi", "Rajesh", "Simran", "Manish", "Nisha",
        "Gaurav", "Ritika", "Mohit", "Sakshi", "Deepak",
        "Ananya", "Vishal", "Priyanka", "Amit", "Swati",
        "Karthik", "Megha", "Naveen", "Tanya", "Suresh",
        "Puja", "Ashish", "Kritika", "Sandeep", "Pallavi"
    ],
    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ],
    "Department": [
        "HR", "IT", "Finance", "IT", "HR",
        "Marketing", "IT", "Finance", "Sales", "HR",
        "IT", "Marketing", "Finance", "IT", "Sales",
        "HR", "Operations", "IT", "Finance", "Marketing",
        "Sales", "IT", "HR", "Finance", "Operations",
        "Marketing", "IT", "Sales", "Finance", "HR",
        "IT", "Marketing", "Operations", "Finance", "IT",
        "HR", "Sales", "IT", "Finance", "Marketing",
        "IT", "HR", "Sales", "Finance", "Operations",
        "Marketing", "IT", "HR", "Finance", "Sales"
    ],
    "Education_Level": [
        "High School", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "High School", "Bachelor",
        "Master", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "Bachelor", "PhD",
        "High School", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "PhD", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "Bachelor",
        "PhD", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "High School",
        "Bachelor", "Master", "Bachelor", "PhD", "Master"
    ],
    "Age": [
        28, 26, 32, 35, 29,
        31, 27, 34, 25, 30,
        33, 28, 36, 38, 27,
        32, 29, 35, 31, 40,
        24, 28, 34, 26, 33,
        29, 37, 27, 35, 31,
        30, 32, 28, 34, 29,
        39, 26, 33, 31, 30,
        32, 28, 29, 34, 42,
        27, 31, 26, 38, 33
    ],
    "Years_Experience": [
        5, 4, 10, 12, 6,
        8, 5, 11, 3, 7,
        10, 6, 13, 15, 5,
        9, 7, 12, 8, 16,
        2, 6, 11, 4, 10,
        7, 14, 5, 12, 8,
        8, 9, 6, 11, 7,
        15, 4, 10, 8, 8,
        9, 6, 7, 11, 18,
        5, 9, 4, 14, 10
    ],
    "Salary": [
        45000, 55000, 75000, 95000, 50000,
        70000, 52000, 80000, 42000, 60000,
        78000, 58000, 85000, 100000, 51000,
        72000, 62000, 83000, 68000, 105000,
        38000, 56000, 76000, 48000, 74000,
        65000, 90000, 54000, 82000, 69000,
        67000, 71000, 59000, 79000, 63000,
        98000, 49000, 77000, 66000, 64000,
        73000, 61000, 64000, 81000, 110000,
        53000, 70000, 50000, 96000, 75000
    ],
    "Performance_Rating": [
        4.2, 4.5, 3.8, 4.7, 4.0,
        4.3, 4.1, 4.6, 3.5, 4.4,
        4.5, 4.2, 3.9, 4.8, 4.0,
        4.4, 4.1, 4.6, 4.3, 4.9,
        3.6, 4.2, 4.5, 3.9, 4.4,
        4.3, 4.7, 4.0, 4.6, 4.2,
        4.1, 4.4, 4.0, 4.5, 4.2,
        4.8, 3.8, 4.5, 4.3, 4.1,
        4.4, 4.2, 4.1, 4.6, 4.9,
        4.0, 4.3, 3.9, 4.7, 4.5
    ],
    "City": [
        "Mumbai", "Delhi", "Bangalore", "Pune", "Mumbai",
        "Delhi", "Bangalore", "Hyderabad", "Mumbai", "Chennai",
        "Pune", "Delhi", "Bangalore", "Mumbai", "Hyderabad",
        "Chennai", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Kolkata", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Hyderabad", "Chennai", "Pune", "Delhi", "Bangalore",
        "Mumbai", "Hyderabad", "Pune", "Chennai", "Delhi",
        "Bangalore", "Mumbai", "Pune", "Hyderabad", "Delhi",
        "Bangalore", "Chennai", "Mumbai", "Pune", "Delhi",
        "Hyderabad", "Bangalore", "Mumbai", "Chennai", "Pune"
    ]
}

In [16]:
df=pd.DataFrame(data)

In [18]:
df

,Name,Gender,Department,Education_Level,Age,Years_Experience,Salary,Performance_Rating,City
0,Aman,Male,HR,High School,28,5,45000,4.2,Mumbai
1,Riya,Female,IT,Bachelor,26,4,55000,4.5,Delhi
2,Karan,Male,Finance,Master,32,10,75000,3.8,Bangalore
3,Sneha,Female,IT,PhD,35,12,95000,4.7,Pune
4,Arjun,Male,HR,Bachelor,29,6,50000,4.0,Mumbai
5,Priya,Female,Marketing,Master,31,8,70000,4.3,Delhi
6,Rahul,Male,IT,Bachelor,27,5,52000,4.1,Bangalore
7,Anjali,Female,Finance,Master,34,11,80000,4.6,Hyderabad
8,Vikram,Male,Sales,High School,25,3,42000,3.5,Mumbai
9,Pooja,Female,HR,Bachelor,30,7,60000,4.4,Chennai
10,Siddharth,Male,IT,Master,33,10,78000,4.5,Pune
11,Neha,Female,Marketing,Bachelor,28,6,58000,4.2,Delhi
12,Rohan,Male,Finance,Master,36,13,85000,3.9,Bangalore
13,Ishita,Female,IT,PhD,38,15,100000,4.8,Mumbai
14,Aditya,Male,Sales,Bachelor,27,5,51000,4.0,Hyderabad
15,Kavya,Female,HR,Master,32,9,72000,4.4,Chennai
16,Harsh,Male,Operations,Bachelor,29,7,62000,4.1,Pune
17,Meera,Female,IT,Master,35,12,83000,4.6,Delhi
18,Nikhil,Male,Finance,Bachelor,31,8,68000,4.3,Bangalore
19,Divya,Female,Marketing,PhD,40,16,105000,4.9,Mumbai
20,Akash,Male,Sales,High School,24,2,38000,3.6,Kolkata
21,Tanvi,Female,IT,Bachelor,28,6,56000,4.2,Pune
22,Varun,Male,HR,Master,34,11,76000,4.5,Delhi
23,Shreya,Female,Finance,Bachelor,26,4,48000,3.9,Bangalore
24,Kunal,Male,Operations,Master,33,10,74000,4.4,Mumbai
25,Aditi,Female,Marketing,Bachelor,29,7,65000,4.3,Hyderabad
26,Rajesh,Male,IT,Master,37,14,90000,4.7,Chennai
27,Simran,Female,Sales,Bachelor,27,5,54000,4.0,Pune
28,Manish,Male,Finance,PhD,35,12,82000,4.6,Delhi
29,Nisha,Female,HR,Master,31,8,69000,4.2,Bangalore
30,Gaurav,Male,IT,Bachelor,30,8,67000,4.1,Mumbai
31,Ritika,Female,Marketing,Master,32,9,71000,4.4,Hyderabad
32,Mohit,Male,Operations,Bachelor,28,6,59000,4.0,Pune
33,Sakshi,Female,Finance,Master,34,11,79000,4.5,Chennai
34,Deepak,Male,IT,Bachelor,29,7,63000,4.2,Delhi
35,Ananya,Female,HR,PhD,39,15,98000,4.8,Bangalore
36,Vishal,Male,Sales,Bachelor,26,4,49000,3.8,Mumbai
37,Priyanka,Female,IT,Master,33,10,77000,4.5,Pune
38,Amit,Male,Finance,Bachelor,31,8,66000,4.3,Hyderabad
39,Swati,Female,Marketing,Master,30,8,64000,4.1,Delhi
40,Karthik,Male,IT,Bachelor,32,9,73000,4.4,Bangalore
41,Megha,Female,HR,Master,28,6,61000,4.2,Chennai
42,Naveen,Male,Sales,Bachelor,29,7,64000,4.1,Mumbai
43,Tanya,Female,Finance,Master,34,11,81000,4.6,Pune
44,Suresh,Male,Operations,High School,42,18,110000,4.9,Delhi
45,Puja,Female,Marketing,Bachelor,27,5,53000,4.0,Hyderabad
46,Ashish,Male,IT,Master,31,9,70000,4.3,Bangalore
47,Kritika,Female,HR,Bachelor,26,4,50000,3.9,Mumbai
48,Sandeep,Male,Finance,PhD,38,14,96000,4.7,Chennai
49,Pallavi,Female,Sales,Master,33,10,75000,4.5,Pune

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                50 non-null     object
 1   Gender              50 non-null     object
 2   Department          50 non-null     object
 3   Education_Level     50 non-null     object
 4   Age                 50 non-null     int64
 5   Years_Experience    50 non-null     int64
 6   Salary              50 non-null     int64
 7   Performance_Rating  50 non-null     float64
 8   City                50 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 3.6+ KB

In [19]:
##label Encoder
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()
df["Gender_Label"] = le.fit_transform(df["Gender"])

In [21]:
df

,Name,Gender,Department,Education_Level,Age,Years_Experience,Salary,Performance_Rating,City,Gender_Label
0,Aman,Male,HR,High School,28,5,45000,4.2,Mumbai,1
1,Riya,Female,IT,Bachelor,26,4,55000,4.5,Delhi,0
2,Karan,Male,Finance,Master,32,10,75000,3.8,Bangalore,1
3,Sneha,Female,IT,PhD,35,12,95000,4.7,Pune,0
4,Arjun,Male,HR,Bachelor,29,6,50000,4.0,Mumbai,1
5,Priya,Female,Marketing,Master,31,8,70000,4.3,Delhi,0
6,Rahul,Male,IT,Bachelor,27,5,52000,4.1,Bangalore,1
7,Anjali,Female,Finance,Master,34,11,80000,4.6,Hyderabad,0
8,Vikram,Male,Sales,High School,25,3,42000,3.5,Mumbai,1
9,Pooja,Female,HR,Bachelor,30,7,60000,4.4,Chennai,0
10,Siddharth,Male,IT,Master,33,10,78000,4.5,Pune,1
11,Neha,Female,Marketing,Bachelor,28,6,58000,4.2,Delhi,0
12,Rohan,Male,Finance,Master,36,13,85000,3.9,Bangalore,1
13,Ishita,Female,IT,PhD,38,15,100000,4.8,Mumbai,0
14,Aditya,Male,Sales,Bachelor,27,5,51000,4.0,Hyderabad,1
15,Kavya,Female,HR,Master,32,9,72000,4.4,Chennai,0
16,Harsh,Male,Operations,Bachelor,29,7,62000,4.1,Pune,1
17,Meera,Female,IT,Master,35,12,83000,4.6,Delhi,0
18,Nikhil,Male,Finance,Bachelor,31,8,68000,4.3,Bangalore,1
19,Divya,Female,Marketing,PhD,40,16,105000,4.9,Mumbai,0
20,Akash,Male,Sales,High School,24,2,38000,3.6,Kolkata,1
21,Tanvi,Female,IT,Bachelor,28,6,56000,4.2,Pune,0
22,Varun,Male,HR,Master,34,11,76000,4.5,Delhi,1
23,Shreya,Female,Finance,Bachelor,26,4,48000,3.9,Bangalore,0
24,Kunal,Male,Operations,Master,33,10,74000,4.4,Mumbai,1
25,Aditi,Female,Marketing,Bachelor,29,7,65000,4.3,Hyderabad,0
26,Rajesh,Male,IT,Master,37,14,90000,4.7,Chennai,1
27,Simran,Female,Sales,Bachelor,27,5,54000,4.0,Pune,0
28,Manish,Male,Finance,PhD,35,12,82000,4.6,Delhi,1
29,Nisha,Female,HR,Master,31,8,69000,4.2,Bangalore,0
30,Gaurav,Male,IT,Bachelor,30,8,67000,4.1,Mumbai,1
31,Ritika,Female,Marketing,Master,32,9,71000,4.4,Hyderabad,0
32,Mohit,Male,Operations,Bachelor,28,6,59000,4.0,Pune,1
33,Sakshi,Female,Finance,Master,34,11,79000,4.5,Chennai,0
34,Deepak,Male,IT,Bachelor,29,7,63000,4.2,Delhi,1
35,Ananya,Female,HR,PhD,39,15,98000,4.8,Bangalore,0
36,Vishal,Male,Sales,Bachelor,26,4,49000,3.8,Mumbai,1
37,Priyanka,Female,IT,Master,33,10,77000,4.5,Pune,0
38,Amit,Male,Finance,Bachelor,31,8,66000,4.3,Hyderabad,1
39,Swati,Female,Marketing,Master,30,8,64000,4.1,Delhi,0
40,Karthik,Male,IT,Bachelor,32,9,73000,4.4,Bangalore,1
41,Megha,Female,HR,Master,28,6,61000,4.2,Chennai,0
42,Naveen,Male,Sales,Bachelor,29,7,64000,4.1,Mumbai,1
43,Tanya,Female,Finance,Master,34,11,81000,4.6,Pune,0
44,Suresh,Male,Operations,High School,42,18,110000,4.9,Delhi,1
45,Puja,Female,Marketing,Bachelor,27,5,53000,4.0,Hyderabad,0
46,Ashish,Male,IT,Master,31,9,70000,4.3,Bangalore,1
47,Kritika,Female,HR,Bachelor,26,4,50000,3.9,Mumbai,0
48,Sandeep,Male,Finance,PhD,38,14,96000,4.7,Chennai,1
49,Pallavi,Female,Sales,Master,33,10,75000,4.5,Pune,0

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [41]:
one = OneHotEncoder(sparse_output=False)
data = one.fit_transform(df[['City']])
name = one.get_feature_names_out(['City'])
df_oneHot = pd.DataFrame(data, columns=name)

In [42]:
df_oneHot

,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,City_Pune
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20,0.0,0.0,0.0,0.0,1.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,1.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,1.0,0.0
31,0.0,0.0,0.0,1.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,1.0
33,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34,0.0,0.0,1.0,0.0,0.0,0.0,0.0
35,1.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,0.0,0.0,0.0,0.0,1.0,0.0
37,0.0,0.0,0.0,0.0,0.0,0.0,1.0
38,0.0,0.0,0.0,1.0,0.0,0.0,0.0
39,0.0,0.0,1.0,0.0,0.0,0.0,0.0
40,1.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0.0,1.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44,0.0,0.0,1.0,0.0,0.0,0.0,0.0
45,0.0,0.0,0.0,1.0,0.0,0.0,0.0
46,1.0,0.0,0.0,0.0,0.0,0.0,0.0
47,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [56]:
##ordinal Encoding
df_ordinal=df.copy()
education_order = {
    "High School": 0,
    "Bachelor": 1,
    "Master": 2,
    "PhD": 3
}

df_ordinal["Education_Ordinal"] = df_ordinal["Education_Level"].map(education_order)

print(df_ordinal)

         Name  Gender  Department Education_Level  Age  Years_Experience  \
0        Aman    Male          HR     High School   28                 5
1        Riya  Female          IT        Bachelor   26                 4
2       Karan    Male     Finance          Master   32                10
3       Sneha  Female          IT             PhD   35                12
4       Arjun    Male          HR        Bachelor   29                 6
5       Priya  Female   Marketing          Master   31                 8
6       Rahul    Male          IT        Bachelor   27                 5
7      Anjali  Female     Finance          Master   34                11
8      Vikram    Male       Sales     High School   25                 3
9       Pooja  Female          HR        Bachelor   30                 7
10  Siddharth    Male          IT          Master   33                10
11       Neha  Female   Marketing        Bachelor   28                 6
12      Rohan    Male     Finance          Master   36                13
13     Ishita  Female          IT             PhD   38                15
14     Aditya    Male       Sales        Bachelor   27                 5
15      Kavya  Female          HR          Master   32                 9
16      Harsh    Male  Operations        Bachelor   29                 7
17      Meera  Female          IT          Master   35                12
18     Nikhil    Male     Finance        Bachelor   31                 8
19      Divya  Female   Marketing             PhD   40                16
20      Akash    Male       Sales     High School   24                 2
21      Tanvi  Female          IT        Bachelor   28                 6
22      Varun    Male          HR          Master   34                11
23     Shreya  Female     Finance        Bachelor   26                 4
24      Kunal    Male  Operations          Master   33                10
25      Aditi  Female   Marketing        Bachelor   29                 7
26     Rajesh    Male          IT          Master   37                14
27     Simran  Female       Sales        Bachelor   27                 5
28     Manish    Male     Finance             PhD   35                12
29      Nisha  Female          HR          Master   31                 8
30     Gaurav    Male          IT        Bachelor   30                 8
31     Ritika  Female   Marketing          Master   32                 9
32      Mohit    Male  Operations        Bachelor   28                 6
33     Sakshi  Female     Finance          Master   34                11
34     Deepak    Male          IT        Bachelor   29                 7
35     Ananya  Female          HR             PhD   39                15
36     Vishal    Male       Sales        Bachelor   26                 4
37   Priyanka  Female          IT          Master   33                10
38       Amit    Male     Finance        Bachelor   31                 8
39      Swati  Female   Marketing          Master   30                 8
40    Karthik    Male          IT        Bachelor   32                 9
41      Megha  Female          HR          Master   28                 6
42     Naveen    Male       Sales        Bachelor   29                 7
43      Tanya  Female     Finance          Master   34                11
44     Suresh    Male  Operations     High School   42                18
45       Puja  Female   Marketing        Bachelor   27                 5
46     Ashish    Male          IT          Master   31                 9
47    Kritika  Female          HR        Bachelor   26                 4
48    Sandeep    Male     Finance             PhD   38                14
49    Pallavi  Female       Sales          Master   33                10

    Salary  Performance_Rating       City  Gender_Label  Education_Ordinal
0    45000                 4.2     Mumbai             1                  0
1    55000                 4.5      Delhi             0                  1
2    75000                 3.8  Bangalore             1                  2
3    95000                 4.7       Pune             0                  3
4    50000                 4.0     Mumbai             1                  1
5    70000                 4.3      Delhi             0                  2
6    52000                 4.1  Bangalore             1                  1
7    80000                 4.6  Hyderabad             0                  2
8    42000                 3.5     Mumbai             1                  0
9    60000                 4.4    Chennai             0                  1
10   78000                 4.5       Pune             1                  2
11   58000                 4.2      Delhi             0                  1
12   85000                 3.9  Bangalore             1                  2
13  100000                 4.8     Mumbai             0                  3
14   51000                 4.0  Hyderabad             1                  1
15   72000                 4.4    Chennai             0                  2
16   62000                 4.1       Pune             1                  1
17   83000                 4.6      Delhi             0                  2
18   68000                 4.3  Bangalore             1                  1
19  105000                 4.9     Mumbai             0                  3
20   38000                 3.6    Kolkata             1                  0
21   56000                 4.2       Pune             0                  1
22   76000                 4.5      Delhi             1                  2
23   48000                 3.9  Bangalore             0                  1
24   74000                 4.4     Mumbai             1                  2
25   65000                 4.3  Hyderabad             0                  1
26   90000                 4.7    Chennai             1                  2
27   54000                 4.0       Pune             0                  1
28   82000                 4.6      Delhi             1                  3
29   69000                 4.2  Bangalore             0                  2
30   67000                 4.1     Mumbai             1                  1
31   71000                 4.4  Hyderabad             0                  2
32   59000                 4.0       Pune             1                  1
33   79000                 4.5    Chennai             0                  2
34   63000                 4.2      Delhi             1                  1
35   98000                 4.8  Bangalore             0                  3
36   49000                 3.8     Mumbai             1                  1
37   77000                 4.5       Pune             0                  2
38   66000                 4.3  Hyderabad             1                  1
39   64000                 4.1      Delhi             0                  2
40   73000                 4.4  Bangalore             1                  1
41   61000                 4.2    Chennai             0                  2
42   64000                 4.1     Mumbai             1                  1
43   81000                 4.6       Pune             0                  2
44  110000                 4.9      Delhi             1                  0
45   53000                 4.0  Hyderabad             0                  1
46   70000                 4.3  Bangalore             1                  2
47   50000                 3.9     Mumbai             0                  1
48   96000                 4.7    Chennai             1                  3
49   75000                 4.5       Pune             0                  2