In [1]:
import pandas as pd

In [2]:
from sklearn import datasets

In [8]:
data = {
    "Name": [
        "Aman", "Riya", "Karan", "Sneha", "Arjun",
        "Priya", "Rahul", "Anjali", "Vikram", "Pooja",
        "Siddharth", "Neha", "Rohan", "Ishita", "Aditya",
        "Kavya", "Harsh", "Meera", "Nikhil", "Divya",
        "Akash", "Tanvi", "Varun", "Shreya", "Kunal",
        "Aditi", "Rajesh", "Simran", "Manish", "Nisha",
        "Gaurav", "Ritika", "Mohit", "Sakshi", "Deepak",
        "Ananya", "Vishal", "Priyanka", "Amit", "Swati",
        "Karthik", "Megha", "Naveen", "Tanya", "Suresh",
        "Puja", "Ashish", "Kritika", "Sandeep", "Pallavi"
    ],
    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ],
    "Department": [
        "HR", "IT", "Finance", "IT", "HR",
        "Marketing", "IT", "Finance", "Sales", "HR",
        "IT", "Marketing", "Finance", "IT", "Sales",
        "HR", "Operations", "IT", "Finance", "Marketing",
        "Sales", "IT", "HR", "Finance", "Operations",
        "Marketing", "IT", "Sales", "Finance", "HR",
        "IT", "Marketing", "Operations", "Finance", "IT",
        "HR", "Sales", "IT", "Finance", "Marketing",
        "IT", "HR", "Sales", "Finance", "Operations",
        "Marketing", "IT", "HR", "Finance", "Sales"
    ],
    "Education_Level": [
        "High School", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "High School", "Bachelor",
        "Master", "Bachelor", "Master", "PhD", "Bachelor",
        "Master", "Bachelor", "Master", "Bachelor", "PhD",
        "High School", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "PhD", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "Bachelor",
        "PhD", "Bachelor", "Master", "Bachelor", "Master",
        "Bachelor", "Master", "Bachelor", "Master", "High School",
        "Bachelor", "Master", "Bachelor", "PhD", "Master"
    ],
    "Age": [
        28, 26, 32, 35, 29,
        31, 27, 34, 25, 30,
        33, 28, 36, 38, 27,
        32, 29, 35, 31, 40,
        24, 28, 34, 26, 33,
        29, 37, 27, 35, 31,
        30, 32, 28, 34, 29,
        39, 26, 33, 31, 30,
        32, 28, 29, 34, 42,
        27, 31, 26, 38, 33
    ],
    "Years_Experience": [
        5, 4, 10, 12, 6,
        8, 5, 11, 3, 7,
        10, 6, 13, 15, 5,
        9, 7, 12, 8, 16,
        2, 6, 11, 4, 10,
        7, 14, 5, 12, 8,
        8, 9, 6, 11, 7,
        15, 4, 10, 8, 8,
        9, 6, 7, 11, 18,
        5, 9, 4, 14, 10
    ],
    "Salary": [
        45000, 55000, 75000, 95000, 50000,
        70000, 52000, 80000, 42000, 60000,
        78000, 58000, 85000, 100000, 51000,
        72000, 62000, 83000, 68000, 105000,
        38000, 56000, 76000, 48000, 74000,
        65000, 90000, 54000, 82000, 69000,
        67000, 71000, 59000, 79000, 63000,
        98000, 49000, 77000, 66000, 64000,
        73000, 61000, 64000, 81000, 110000,
        53000, 70000, 50000, 96000, 75000
    ],
    "Performance_Rating": [
        4.2, 4.5, 3.8, 4.7, 4.0,
        4.3, 4.1, 4.6, 3.5, 4.4,
        4.5, 4.2, 3.9, 4.8, 4.0,
        4.4, 4.1, 4.6, 4.3, 4.9,
        3.6, 4.2, 4.5, 3.9, 4.4,
        4.3, 4.7, 4.0, 4.6, 4.2,
        4.1, 4.4, 4.0, 4.5, 4.2,
        4.8, 3.8, 4.5, 4.3, 4.1,
        4.4, 4.2, 4.1, 4.6, 4.9,
        4.0, 4.3, 3.9, 4.7, 4.5
    ],
    "City": [
        "Mumbai", "Delhi", "Bangalore", "Pune", "Mumbai",
        "Delhi", "Bangalore", "Hyderabad", "Mumbai", "Chennai",
        "Pune", "Delhi", "Bangalore", "Mumbai", "Hyderabad",
        "Chennai", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Kolkata", "Pune", "Delhi", "Bangalore", "Mumbai",
        "Hyderabad", "Chennai", "Pune", "Delhi", "Bangalore",
        "Mumbai", "Hyderabad", "Pune", "Chennai", "Delhi",
        "Bangalore", "Mumbai", "Pune", "Hyderabad", "Delhi",
        "Bangalore", "Chennai", "Mumbai", "Pune", "Delhi",
        "Hyderabad", "Bangalore", "Mumbai", "Chennai", "Pune"
    ]
}

In [9]:
df=pd.DataFrame(data)

In [4]:
##Normalization
from sklearn.preprocessing import Normalizer

In [5]:
Norm=Normalizer()

In [10]:
df_norm=df.copy()
df_norm=Norm.fit_transform(df[["Age"]])
df1=pd.DataFrame(df_norm,columns=['age'])

In [11]:
df1

    age
0   1.0
1   1.0
2   1.0
3   1.0
4   1.0
5   1.0
6   1.0
7   1.0
8   1.0
9   1.0
10  1.0
11  1.0
12  1.0
13  1.0
14  1.0
15  1.0
16  1.0
17  1.0
18  1.0
19  1.0
20  1.0
21  1.0
22  1.0
23  1.0
24  1.0
25  1.0
26  1.0
27  1.0
28  1.0
29  1.0
30  1.0
31  1.0
32  1.0
33  1.0
34  1.0
35  1.0
36  1.0
37  1.0
38  1.0
39  1.0
40  1.0
41  1.0
42  1.0
43  1.0
44  1.0
45  1.0
46  1.0
47  1.0
48  1.0
49  1.0

In [13]:
##Standard-Scaler

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
ss=StandardScaler()

In [17]:
df_scaled=ss.fit_transform(df[['Age']])

In [18]:
df_standard = pd.DataFrame(df_scaled, columns=["Age_Standardized"])
df_standard

    Age_Standardized
0          -0.789015
1          -1.276061
2           0.185078
3           0.915647
4          -0.545492
5          -0.058446
6          -1.032538
7           0.672124
8          -1.519585
9          -0.301969
10          0.428601
11         -0.789015
12          1.159170
13          1.646217
14         -1.032538
15          0.185078
16         -0.545492
17          0.915647
18         -0.058446
19          2.133263
20         -1.763108
21         -0.789015
22          0.672124
23         -1.276061
24          0.428601
25         -0.545492
26          1.402694
27         -1.032538
28          0.915647
29         -0.058446
30         -0.301969
31          0.185078
32         -0.789015
33          0.672124
34         -0.545492
35          1.889740
36         -1.276061
37          0.428601
38         -0.058446
39         -0.301969
40          0.185078
41         -0.789015
42         -0.545492
43          0.672124
44          2.620309
45         -1.032538
46         -0.058446
47         -1.276061
48          1.646217
49          0.428601