In [1]:
import pandas as pd

In [2]:
##series-
##in pandas series S is captial. and S is used to create series. if we use small s then it will give error. so we have to use capital S.
s=pd.Series([1,2,3,4,5])

In [3]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s_c=pd.Series([1,2,3,4,5],name='numbers')

In [6]:
s_c

0    1
1    2
2    3
3    4
4    5
Name: numbers, dtype: int64

In [7]:
s_c=pd.Series([1,2,3,4,5],name='numbers',index=['a','b','c','d','e'])
s_c

a    1
b    2
c    3
d    4
e    5
Name: numbers, dtype: int64

In [15]:
s_d=pd.Series([1,2,3,4,5],name='values',index=[0.5,1.5,2.5,3.5,4.5])
s_d

0.5    1
1.5    2
2.5    3
3.5    4
4.5    5
Name: values, dtype: int64

In [11]:
import numpy as np
a=np.array([1,2,3,'khushi'])
s_a=pd.Series(a)
s_a

0         1
1         2
2         3
3    khushi
dtype: object

In [16]:
##dataframe-
df=pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
DF=pd.DataFrame([a,s])
DF

   0  1  2       3    4
0  1  2  3  khushi  NaN
1  1  2  3       4  5.0

In [22]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Amit", "Neha", "Ravi"],
    "Age": [20, 21, 22],
    "Marks": [85, 90, 88]
})

print(df)

   Name  Age  Marks
0  Amit   20     85
1  Neha   21     90
2  Ravi   22     88

In [23]:
print(df.index)
print(df.columns)
print(df.shape)

RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'Marks'], dtype='object')
(3, 3)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Marks   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes